<div class="container mt-5 mb-5">
  <div class="flex-space-between container mt-5 mb-5">
  <h1>All the talents</h1>
  <%= link_to "Create a new talent", "#", class: "btn btn-ghost" %>
  </div>
  <div class="container mb-5 p-3 rounded">
    <div class="row my-2">
      <% @talents.each do |talent| %>
          <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
            <a href= "talents/<%= talent.id %>" >
              <div class="bg-white rounded shadow h-100">
                <% if talent.photo.key %>
                  <%= cl_image_tag talent.photo.key, class: "talent-img rounded-top" %>
                <% end %>
                <div class="p-3 rounded-bottom d-flex flex-column">
                  <strong><%= talent.name %> </strong>
                  <small class="text-muted">$<%= talent.price %> per hour</small>
                </div>
              </div>
            </a>
          </div>
      <% end %>
    </div>
  </div>
  <% if (@talents.length > 0) %>
    <%= link_to "Create a new talent", "#", class: "btn btn-ghost" %>
  <% end %>
