<small class="text-muted">
Please note that the data on this page is not real, it is used to demonstrate the idea of the web-site only, all the rights belong to their owners.
</small>

<div class="container mt-5 mb-5">
  <div class="flex-space-between container mt-5 mb-5">
  <h1>All the talents</h1>
  </div>
  <div class="container mb-5 p-3 rounded">
    <div class="row my-2">
      <% @talents.each do |talent| %>
          <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
            <%= link_to talent_path(talent) do %>
              <div class="bg-white rounded shadow h-100">
                <% if talent.photo.key %>
                  <%= cl_image_tag talent.photo.key, class: "talent-img rounded-top" %>
                <% end %>
                <div class="p-3 rounded-bottom d-flex flex-column">
                  <strong><%= talent.name %> </strong>
                  <small class="text-muted">
                    <% talent.genres.each do |genre| %>
                      <span class="badge rounded-pill bg-light text-dark">#<%= genre.name %></span>
                    <% end %>
                  </small>
                  <small class="text-muted"><i class="fas fa-map-marker-alt"></i><%= talent.address %></small>
                  <small class="text-muted">$<%= talent.price %></small>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<small class="text-muted">
Please note that the data on this page is not real, it is used to demonstrate the idea of the web-site only, all the rights belong to their owners.
</small>
