<div class="">
  <div class="container mt-5"  >
    <div class="grid_talent_profile">
      <div>
        <% if @talent.photo.key %>
          <p><%= cl_image_tag @talent.photo.key, class: "img-fluid shadow talent_profile_pic" %></p>
        <% end %>
      </div>
      <div class = "profile_talent_info">
        <h3 class = "h3_profile_talent"><%= @talent.name %></h2>
        <% @talent.genres.each do |genre| %>
          <span class="badge rounded-pill bg-dark">#<%= genre.name %></span>
        <% end %>
        <p> <i class="fas fa-map-marker-alt mt-3"></i> <%= @talent.address %></p>
        <p>$<%= @talent.price %> per hour</p>
        <p><%= @talent.description %></p>
      </div>
      <div>
        <% if current_place %>
          <div>
            <%= link_to "Book!", new_talent_booking_path(@talent), class: "purple_pink_btn" %>
          </div>
        <% end %>
      </div>
    <div class = "grid_talent_profile_social_network">
      <a href="" class="me-4 text-reset">
        <i class="fab fa-spotify"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="instagram_link" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>

    <% instagram_link = "#{@talent.instagram_link}" %>
    <% spotify_link = "#{@talent.spotify_link}" %>
    <% youtube_link = "#{@talent.youtube_link}" %>
    <%= link_to 'instagram', instagram_link, target: "_blank"%> and <%= link_to 'spotify', spotify_link, target: "_blank"%> and <%= link_to 'youtube', youtube_link, target: "_blank"%> pages.</p>
  <div class="flex-space-between container mt-5 mb-5">
    <div>
      <%= link_to 'Back to the list', talents_path, class: "bad_btn" %>
    </div>
  </div>
</div>
