<div class="dashboard_place_container">
  <div class = "dashboard_place_section_1">
    <div class = "profil_pic_dashboard_place">
      <% if current_place.photo.key %>
        <p><%= cl_image_tag current_place.photo.key, class: "img-fluid " %></p>
      <% end %>
    </div>
    <div class="dashboard_place_info">
      <p><%= current_place.title  %></p>
      <p><%= current_place.address  %></p>
      <p><%= current_place.description  %></p>
      <div class="dashboard_place_btn_top">
        <div>
        <button class = "purple_pink_btn"><%= link_to 'view our profile', place_path(current_place) %></button>
        </div>
        <div>
        <button class = "purple_pink_btn"><%= link_to 'edit our profile', edit_place_path(current_place) %></button>
        </div>
      </div>
    </div>
    <div class = "dashboard_place_find_place">
      <button class = "purple_pink_btn"><%= link_to 'Find a talent!', talents_path %></button>
    </div>
  </div>

  <br><br><br>

  <div class = "dashboard_place_section_2">
    <h2 class = "h2_dashboard_place">Our bookings</h2>
    <div>
      <div class="row justify-content-center">
      <table class = "booking_table_dashboard_place">
          <% @bookings.each do |booking|%>
          <div class="dashboard_place_row_booking">
            <tr>
              <td><p><%= booking.talent.name %></p></td>
              <td><p><%= booking.date %></p></td>
              <td><p><%= booking.message %></p></td>
              <td><%= link_to "Cancel", booking_path(booking), method: :delete, class: "bad_btn", data: { confirm: "Are you sure you want to cancel this booking?" } %></td>
            </tr>
          </div>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class = "dashboard_place_section_3">
      <h2 class = "h2_dashboard_place">Promotions we received</h2>
      <div>
        <div class="row justify-content-center">
        <table class = "promotion_table_dashboard_place">
            <% @promotions.each do |promotion|%>
            <div class="dashboard_place_row_promotion">
              <tr>
                <td><p><%= promotion.talent.name %></p></td>
                <td><p><%= promotion.message %></p></td>
                <td><%= link_to 'view profile', talent_path(promotion.talent), class: "promotion_buttons_dashboard_place" %></td>
              </tr>
            </div>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
