<div class="home-banner">
  <%= image_tag("places/p10.jpeg", class: "banner-image", alt: "banner-img") %>
  <h1 class="over-image m-5">The platform to connect Talents [singers]<br>and Places [restaurants]</h1>
</div>
<div class="card-container">
  <div class="cards-home">
    <%= link_to talents_path, class: "card-home-body" do  %>
      <%= image_tag("talents/t19.jpeg", class: "card-img-top", alt: "places-img") %>
      <div class="placement-elements">
        <h5 class="card-title text-link mt-2">Looking for a musician for your place?</h5>
        <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <span class="btn-homepage purple_pink_btn">Find your talent!</span>
      </div>
    <% end %>
    <%= link_to places_path, class: "card-home-body" do %>
      <div class="placement-elements">
        <%= image_tag("places/p5.jpeg", class: "card-img-top", alt: "places-img") %>
        <h5 class="card-title text-link mt-2">Want to express your talent in public?</h5>
        <!-- <p class="card-text">Some quick example text touild on the card title and make up the bulk of the card's content.</p> -->
        <span class="btn-homepage purple_pink_btn">Find a place to play!</span>
      </div>
    <% end %>
  </div>
</div>
