<% if current_place && @place && @place.id == current_place.id %>
  <div class = "edit_place_container">
    <h2 class="edit_place_h2">Edit my profil</h2>
    <div class = "edit_place_labels">
      <div>
        <%= simple_form_for @place do |f| %>

        <div class="">
          <%= f.label 'title:' %><br>
          <%= f.text_field :title, class: "edit_place_label_style" %><br>

          <%= f.input :photo, as: :file %>

        <div class="">
          <%= f.label 'address:'%><br>
          <%= f.text_field :address, class: "edit_place_label_style" %><br>
        </div>

        <div class="">
          <%= f.label 'email:' %><br>
          <%= f.text_field :email, class: "edit_place_label_style" %><br>
        </div>

        <div class="">
          <%= f.label 'description:' %><br>
          <%= f.text_field :description, class: "edit_place_label_style" %><br>
        </div>

        <div class="">
          <%= f.label "website:"%><br>
          <%= f.text_field :website, class: "edit_place_label_style" %><br>
        </div>

          <%= f.submit "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p>This page is not available</p>
  <%= link_to "Back to the homepage", root_path, class: "btn btn-flat" %>
<% end %>
