<div class="">
  <div class="container mt-5"  >
    <div class="grid">
      <div>
        <% if @place.photo.key %>
        <p><%= cl_image_tag @place.photo.key, class: "img-fluid shadow place_profile_pic " %></p>
        <% end %>
      </div>
      <div class = "profile_place_info">
        <h3 class = "h3_profile_place"><%= @place.title %></h3>
        <p><i class="fas fa-map-marker-alt"></i> <%= @place.address %></p>
        <% @place.genres.each do |genre| %>
          <span class="badge rounded-pill bg-dark">#<%= genre.name %></span>
        <% end %>
        <p class = "pt-3"><%= @place.description %></p>
      </div>
      <div class = "mt-5">
        <%if current_place %>
         <% website = "#{@place.website}" %>
        <p class = ""> <%= link_to 'Our website', website, target: "_blank",  class: "purple_pink_btn py-2" %></p>
        <%elsif current_talent %>
          <div class = "mb-4">
            <%= link_to "Send a promotion!", new_place_promotion_path(@place), class: "purple_pink_btn py-2" %>
          </div>
            <% website = "#{@place.website}" %>
            <p class = ""> <%= link_to 'Our website', website, target: "_blank",  class: "purple_pink_btn py-2" %></p>
        <% end %>
        </div>
    </div>
  <div class="flex-space-between container mt-5 mb-5">
    <div>
      <%= link_to 'Back to the list', places_path, class: "bad_btn" %>
    </div>
  </div>
</div>
